<div>
    <div class="row"> 
        <div class="container">
        <div class="col-md-12">
           
            <h1 >SKILLS</h1>
             
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
        <div class="col-md-6">
          
            <h3>SOFT SKILLS</h3>
           
        </div>
    </div>      
                
<div>
                
                        
 <circle-progress
[percent]="70"
[radius]="100"
[outerStrokeWidth]="12"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#00ffe3'"
[innerStrokeColor]="'#2ecc71'"
[animation]="true"
[animationDuration]="400"
[title]="'SOCIABILIDAD'"
[showUnits]="false"
[titleColor]="'#13a079'"
[titleFontSize]="'22px'"
[subtitle]="'SOCIABILIDAD'"

></circle-progress> 

</div>
<div>						
<circle-progress
[percent]="80"
[radius]="100"
[outerStrokeWidth]="12"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#2ecc71'"
[innerStrokeColor]="'#00ffe3'"
[animation]="true"
[animationDuration]="400"
[title]="'ADAPTACION'"
[showUnits]="false"
[titleColor]="'#13a079'"
[titleFontSize]="'22px'"
[subtitle]="'ADAPTACION'"

></circle-progress> 

</div>							 
<div>
                
                        
<circle-progress
[percent]="85"
[radius]="100"
[outerStrokeWidth]="12"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#00ffe3'"
[innerStrokeColor]="'#2ecc71'"
[animation]="true"
[animationDuration]="400"
[title]="'EXPEDITIVA'"
[showUnits]="false"
[titleColor]="'#13a079'"
[titleFontSize]="'22px'"
[subtitle]="'EXPEDITIVA'"

></circle-progress> 

</div>
<div>
<circle-progress
[percent]="100"
[radius]="100"
[outerStrokeWidth]="12"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#2ecc71'"
[innerStrokeColor]="'#00ffe3'"
[animation]="true"
[animationDuration]="400"
[title]="'ASERTIVIDAD'"
[showUnits]="false"
[titleColor]="'#13a079'"
[titleFontSize]="'22px'"
[subtitle]="'ASERTIVIDAD'"

></circle-progress> 

</div>							 
<div>
    <div class="row"> 
        <div class="container">
         <h1 >SKILLS</h1>
             
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
        <div class="col-md-6">
          
            <h3>HARD SKILLS</h3>
           
        </div>
    </div>                   
                
                


<div>
<circle-progress
[percent]="76"
[radius]="100"
[outerStrokeWidth]="12"
[innerStrokeWidth]="6"
[outerStrokeColor]="' #06fff7'"
[innerStrokeColor]="'#1149c1'"
[animation]="true"
[animationDuration]="400"
[showUnits]="false"
[imageSrc]="'../../../assets/JS.png'" 
[showImage]="true"
[imageHeight]="90"
[imageWidth]="120"
></circle-progress> 

</div>
<div>
<circle-progress
[percent]="80"
[radius]="100"
[outerStrokeWidth]="12"
[innerStrokeWidth]="6"
[outerStrokeColor]="'#1149c1'"
[innerStrokeColor]="'#06fff7'"
[animation]="true"
[animationDuration]="400"
[showUnits]="false"
[imageSrc]="'../../../assets/CSS.png'" 
[showImage]="true"
[imageHeight]="130"
[imageWidth]="90"
></circle-progress> 

</div>
<div>
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'#06fff7'"
    [innerStrokeColor]="'#1149c1'"
    [animation]="true"
    [animationDuration]="400"
    [showUnits]="false"
    [imageSrc]="'../../../assets/ja.png'" 
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="120"
    ></circle-progress> 
    
    </div>

<circle-progress
[percent]="100"
[radius]="100"
[outerStrokeWidth]="12"
[innerStrokeWidth]="6"
[outerStrokeColor]="'#1149c1'"
[innerStrokeColor]="'#06fff7'"
[animation]="true"
[animationDuration]="400"
[showUnits]="false"
[imageSrc]="'../../../assets/HTLM.png'" 
[showImage]="true"
[imageHeight]="130"
[imageWidth]="90"
></circle-progress> 


 
  




                

