<div>
    <div class="row"> 
        <div class="container">
        <div class="col-md-12">
           
            <h1 >EDUCACION</h1>
             
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
        <div class="col-md-6">
          
            <h3>1 - Cursos Online</h3>
            <ul>
                <li>HTML / CSS</li>
                <li>PHITON</li>
                <li>WordPress</li>
                <li>PHP</li>
            </ul>
        </div>
    </div>      
<h3>2 -Argentina Programa #SeProgramar </h3>
                <ul>
                    <li>Programación imperativa  
                        lenguaje JavaScript</li>
                    <li>Programación con Objetos 
                        lenguaje llamado Ruby </li>
                    <li>Gobstones</li>
                    
                </ul>
            </div>
           
                
        <div class="col-md-6">
          
                <h3>3 -Argentina Programa #YoProgramo </h3>
                <ul>
                    <li>Arquitectura Web</li>
                    <li>Desarrollo Web y Aplicaciones</li>
                    <li>Desarrollo Front End Estático 
                        CSS Bootstrap Javascript TypeScript</li>
                    <li>Desarrollo Front End Dinámico</li>
                    <li>Front End - Desarrollo Web Dinámico (Angular)</li>
                    <li>Bases de datos</li>
                    <li>POO</li>
                    <li>Backend - Java EE parte I
                        Backend - Java EE parte II</li>
                        <li>Back End con Spring Boot
                            Backend - Java Spring boot</li>
                            <li>Dev Ops</li>
                </ul>
            </div>
           
                <h3>4 - CIT LA FALDA </h3>
                <ul>
                    <li>BACK-END</li>
                </ul>
            </div>
          
