<div>
    <div>
        <div class="row"></div>
       </div>
   <div>
    <div>
     <h1 > <MARQUEE BEHAVIOR=alternate> SOY FULL STACK DEVELOPER JR
    </MARQUEE>  </h1>

</div>


<br> 
<br> 
<div class="col-md-6">
                   <h2>ACERCA DE MI </h2></div>
        
        <div  class="col-xs-12 col-sm-8 col-md-8 col-md-8 col-lg-8">
            <h3><span>Mi nombre es Sandra,amo trabajar con pequeñas empresas y sitios para particulares.
                     Proporciono diseños personalizados a precios accesibles. Con frecuencia, 
                     tu sitio web es la primera impresión que reciben tus clientes asegúrate 
                     que sea una buena impresión.Trabajo como diseñadora independiente y 
                     desarrolladora front-end ,back-end.Tengo mi lado creativo como lógico. 
                     Puedo usar mi lado creativo para diseñar y mi lado lógico para programar.
                     Ser diseñador y desarrollador,me permite verificar todos los detalles.
                     Utilizo las tecnologías más recientes para darle vida a tu sitio web.
                    </span></h3>
             <br> 

             <br> 
             <br>              
<br> 
        </div>
   
        </div> 
    </div> 
      
								     






