img {
    display: flex;
    padding: 3px;  float: right; width: 40; display: inline;                }
  
   #logo {float: left;
    width: 150px;
    padding: 1px; display: inline;  
   }
   div{ padding: 5px;
    
     background-color: black;}
     button {float: right; 
      background-color: black;
      border-radius: 50px;
      display: inline;
    color: #FFE082  
     }
  