.cat {
    height:450px;
    width: 450px;
    }
   
     div{
      background-color: #fce9cb;
  ;
 text-align: right;
font-size: 80px;
font-family: 'Times New Roman', Times, serif;
font-style: italic;

  }
  
  img {
    display: flex;
    
   padding: 3px;  float: left; width: 40;}

