<div>
    <div class="row">
    <h1> EXPERIENCIA LABORAL</h1>
     <div class="col-lg-11" >
  <ul>
            <li>
               <h1>Empresa-Fragucar-</h1> <h2> año-1993-2006</h2> <p>Trabaje en ventas  y comercializacion</p>
               <h1>Empresa-Tecom-</h1> <h2> año - 2007-2010 </h2> <p>Trabaje en asistencia tecnica </p>
                <h1>Empresa-SHHOYOS-</h1> <h2> desde:2010</h2><p>Soy Full Stack Developer Jr ,tambien hago la parte tecnica
                      ,reparacion de pc de telefonia celular , monitores etc .
                       </p>
            </li>
        </ul>
       </div>
      
